@inject ILocalStorageService LocalStorage;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IAuthService AuthService
@inject IToastService ToastService


<div class="loginForm">
    <br />
    <div>
Please log in below or <a href="register">register</a> for a new account.
</div>

<EditForm style="width: 25em;" Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label for="email"></label>
        <InputText id="email" @bind-Value="user.Email" placeholder="Email" class="form-control"></InputText>
    </div>

    <div class="form-group">
        <label for="password"></label>
        <InputText id="password" @bind-Value="user.Password" placeholder="Password" class="form-control" type="password"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-primary">Login</button>
    <ValidationSummary></ValidationSummary>
</EditForm>
<br />
    <div class="errorContainer">
        @if (string.IsNullOrWhiteSpace(errorMessage) == false)
        {

            <div class="alert alert-danger" role="alert">
                <h3>@errorMessage</h3>
            </div>

        }
    </div>
</div>



@code {
    private UserLogin user = new UserLogin();

    string errorMessage = string.Empty;

    private async void HandleLogin()
    {
        var result = await AuthService.Login(user);
        if(result.Success)
        {
            await LocalStorage.SetItemAsync<string>("authToken", result.Data);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
        }
        else
        {
            errorMessage = result.Message;
        }
        StateHasChanged();
    }

}
