@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <main class=mainLayout>
            @Body
        </main>
    </main>
</div>
                    
