@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<div class="navHeader">
    <div class="userInfoContainer">
        
        <UserInfo />
        </div>
    <div class=hamburgerWrapper>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <img class="hamburgerMenu" src="images/Hamburger.svg" alt='hamburgermenu' />
        </button>
    </div>
</div>

<div id="navContent" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav style="height: 91vh;" class="flex-column">
        <div class=navGrid>
            <div class=topSection>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>&nbsp; &nbsp; Home
                    </NavLink>
                </div>
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class=lowerTopSection>
                        <div id="homeLink" class="nav-item px-3">
                            <NavLink class="nav-link" href="feeds">
                                <span aria-hidden="true"><i class="fas fa-rss-square"></i></span>&nbsp; &nbsp; Manage Feeds
                            </NavLink>
                        </div>
                    </div>
                    <div class="subscriptionSection">
                        <h3 class="subText">Subscriptions</h3>
                        <NavSubscriptions />
                    </div>
                    <section class=managementOptions>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="settings">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Settings
                            </NavLink>
                        </div>
                        <br />
                        <div class="nav-item px-3">
                            <a class="nav-link" @onclick="Logout" style="cursor: pointer;">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                            </a>
                        </div>
                    </section>
                </Authorized>
                <NotAuthorized>
                    <div style="padding-top: 2em margin: auto;" class="nav-item px-3">
                        <NavLink class="nav-link" style="margin: auto;" href="register">
                            <span class="oi oi-pencil" aria-hidden="true"></span>&nbsp; &nbsp; Register
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            <div class="logoText">
                <p style="color:white;">
                    &#169; LinNes Development Studio <br /> EST 2021
                </p>
            </div>
        </div>
    </nav>
</div>

    @code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
    }
