@inject IFeedService FeedService
@inject IFeedContentService FeedContentService
@inject ISpecificFeedService SpecificFeedService
@inject NavigationManager NavigationManager
@inject IRefreshService RefreshService
@implements IDisposable
@inject IJSRuntime js

<link rel="stylesheet" href="css/fontawesome/css/fontawesome.min.css" />

<div class=subSection>
    @foreach (var item in FeedService.Feeds)
    {
        <div class="nav-item px-3">
            <NavLink style="text-decoration:none;" class="navContainer" href="feedpage">
                <i class=@item.Image></i>
                <span class="titleText" @onclick="() => ReNavToPage(item.Id, item.Name)">&nbsp; @item.Name</span>
            </NavLink>
        </div>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        FeedService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        FeedService.OnChange -= StateHasChanged;
    }

    public void ReNavToPage(int id, string name)
    {
        SpecificFeedService.SetTempInfoId(id, name);
        SpecificFeedService.GetSpecificFeedContent(SpecificFeedService.TempInfo.Id);
        RefreshService.CallRequestRefresh();
    }

}
