
        <AuthorizeView>
            <Authorized>
                <span style="margin: auto;"><i style="color: white; font-size: 1.8em;" class="fas fa-user"></i></span>
                <span style="margin: auto;"><h4 class="navHeaderText">@context.User.Identity.Name</h4></span>
            </Authorized>
            <NotAuthorized>
                <span style="margin:auto;"><i style="color: orange; font-size: 2em;" class="fas fa-spin fa-rss-square"></i></span>
                 <span style="margin: auto;"><h4 class="navHeaderText">Snewzer</h4></span>
            </NotAuthorized>
        </AuthorizeView>

@code {
  
}
