
        <AuthorizeView>
            <Authorized>
                <h4 class="navHeaderText">@context.User.Identity.Name</h4>
            </Authorized>
            <NotAuthorized>
                <span style="margin:auto;"><i style="color: orange; font-size: 2em;" class="fas fa-spin fa-rss-square"></i></span>
                 <span style="margin: auto;"><h4 class="navHeaderText">Snoowzer</h4></span>
            </NotAuthorized>
        </AuthorizeView>

@code {

}
