
        <AuthorizeView>
            <Authorized>
                <h2 class="navHeaderText">@context.User.Identity.Name</h2>
            </Authorized>
            <NotAuthorized>
                 <h2 class="navHeaderText">Not auth user</h2>
            </NotAuthorized>
        </AuthorizeView>

@code {

}
