.feedPage {
    height: 100vh;
}

section {
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
    grid-template-rows: 2em 5em 20em;
}

.addFeedContainer {
    display: grid;
    grid-template-rows: 7vh 7vh 7vh;
    height: 21vh;
}

.rssInput {
    margin: auto 6vw auto 0;
    width: 20vw;
}

.removeFeedContainer {
    display: grid;
    height: 50vh;
    background-color: white;
    border: 2px solid black;
}

.addRow {

    margin: auto;
    height: 4em;
    width: 100%
} 

.removeRow {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: auto;
    height: 4em;
} 

.linkText{
    padding-left: 2vw;
    margin: auto auto auto 1vw;

}

ul {
    list-style: none;
    padding: 0;
}

.btn {
    height: 4vh;
    width: 8vw;
    margin: auto 6vw auto 0;
}
