@page "/newsfeed"


<h3>FeedPage</h3>



@code {
    private Feed feed = new();

    protected override async Task OnInitializedAsync()
    {
        //feed = await FirstFeedService.GetFeed();
    }
}
