@page "/feeds"
@inject IFeedService FeedService

<PageTitle>Feeds</PageTitle>


<div class="feedPage">
    <h1>Manage your feeds</h1>
    <br />

    <EditForm Model="feed" OnValidSubmit="AddRss">
        <InputText id="rssAdd" @bind-Value="feed.RssLink" class="form-control"></InputText>
        <button type="submit" class="btn btn-primary">Add feed</button>
    </EditForm>

    <EditForm Model="feedhandler" OnValidSubmit="RemoveRss">
        <InputText id="rssRemove" @bind-Value="feedhandler.RssDelete" class="form-control"></InputText>
        <button type="submit" class="btn btn-primary">Remove feed</button>
    </EditForm>
</div>



@code {
    Feed feed = new();

    FeedHandler feedhandler = new();

    private void AddRss()
    {
        var failOrSuccess = FeedService.AddFeed(feed);

        if(!failOrSuccess.Result.Value)
        {
            throw new Exception("invalid rss feed");
        }
    }
    private void RemoveRss()
    {
        FeedService.RemoveFeed(feedhandler.RssDelete);
    }


}
