.articleGrid {
    padding-top: 1vh;
    display: grid;
    margin: auto;
    height: 90vh;
    width: 80vw;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2em;
}

.indexHeader {
    padding-top: 2vh;
    padding-left: 7%;
    font-size: 2vw;
}

.indexArticle {
    border: solid black 1px;
    background-color: lightgray;
    box-shadow: 3px 3px 3px grey;
}

@media (max-width: 641px) {
    .indexHeader {
        font-size: 1em;
        padding-left: 4%;
    }

    .articleGrid {
        width: 95vw;
    }
}