@page "/"
@inject IFeedService FirstFeedService
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<div class="articleGrid">
    <div class="articleOne">
     <p>@feed.PublishDate</p>
    </div>
    <article class="articleTwo">
        <h1>hej</h1>
    </article>
    <article class="articleThree">
        <h1>hej</h1>
    </article>
</div>

@code {
    //Test comment, REMOVE
    private Feed feed = new();

    protected override async Task OnInitializedAsync()
    {
        feed = await FirstFeedService.GetFeed();
    }
}
