@page "/"
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<div class="articleGrid">
    <div class="articleOne">
        <h1>hej</h1>
    </div>
    <article class="articleTwo">
        <h1>hej</h1>
    </article>
    <article class="articleThree">
        <h1>hej</h1>
    </article>
</div>
