@page "/"
@inject IFeedService FeedService
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1 class=indexHeader>Todays news</h1>
<div class="articleGrid">
    @foreach (var feed in FeedService.Feeds)
   {
     <div class="indexArticle">
     <p>@feed.Content</p>
    </div>
   }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await FeedService.LoadAllFeeds();
    }
}
