.articleGrid {
    padding-top: 1vh;
    display: grid;
    margin: auto auto auto 10vw;
    height: auto;
    width: 60vw;
    row-gap: 2em;
    padding-bottom: 4%;
}

.indexHeader {
    padding-top: 2vh;
    padding-left: 10vw;
    font-size: 2em;
    font-weight: bold;
}

.indexArticleContent {
    width: 80%;
    height: 100%;
    margin: 1% auto 1% 2%;
}

.indexArticle {
    border: solid black 1px;
    border-radius: 5px;
    background-color: lightgray;
    box-shadow: 3px 3px 3px grey;
    height: auto;
    min-height: 10vh;
}

.headLine {
    display: grid;
    width: 40vw;
    grid-template-rows: 0.07fr 1fr;
}

    .headLine p {
        margin: auto auto 1em 0;
    }

.imgAndName {
    display: flex;
    width: 30em;
}

.headerImg svg {
    margin: auto;
    height: 2em;
    width: 1.5em;
}

.headerName {
    padding-left: 1.5em;
}

/*.spinnerContainer {
    display: grid;
    grid-template-rows: 5em 5em;
    position: absolute;
    top: 15vh;
    width: 35em;
    margin: auto;
    padding-left: 7vw;
}*/

@media (max-width: 641px) {
    .indexHeader {
        font-size: 1em;
        padding-left: 4%;
    }

    .articleGrid {
        width: 95vw;
    }
}