.articleGrid {
    padding-top: 1vh;
    display: grid;
    margin: auto;
    height: 90vh;
    width: 80vw;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2em;
}

.indexHeader {
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.articleOne {
    border: solid black 1px;
    background-color: #e5e5e5;
}

.articleTwo {
    border: solid black 1px;
    background-color: #e5e5e5;
}

.articleThree {
    border: solid black 1px;
    background-color: #e5e5e5;
}