.feedPage {
    height: 100vh;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

section {
    width: 80%;
    padding-left: 5%;
    padding-top: 2%;
    grid-template-rows: 2em 5em 20em;
}

.addPodcastContainer {
    display: grid;
    grid-template-areas: "url image"
        "name image"
        "button image";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 0.7fr;
    height: 21vh;
    width: 38vw;
}

.rssInputFirst {
    grid-area: url;
    width: 22vw;
}

.rssInputSecond {
    grid-area: name;
    width: 22vw;
}

.addBtn {
    grid-area: button;
}

.imgChoice {
    grid-area: image;
    display: grid;
    grid-template-areas: "1 2 3"
        "4 5 6"
        "7 8 9";
    height: 18vh;
    width: 18vh;
    background-color: white;
    border: 2px solid black;
    margin: 0 auto auto auto;
    box-shadow: 3px 3px 3px grey;
}

    .imgChoice button {
        background-color: white;
    }

        .imgChoice button:active {
            background-color: lightblue;
        }

        .imgChoice button:focus {
            background-color: lightblue;
        }

    .imgChoice svg {
        height: 65% !important;
        width: auto !important;
        margin: auto;
    }

#imgBox {
    margin: auto;
    height: 100%;
    width: 100%;
    border: none;
}

.removePodcastContainer {
    display: grid;
    height: 50vh;
    width: 50vw;
    background-color: white;
    border: 2px solid black;
    overflow: auto;
}

.addRow {
    margin: auto;
    height: 4em;
    width: 100%
}

.removeRow {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: auto;
    height: 5em;
}

.linkText {
    padding-left: 2vw;
    margin: auto auto auto 1vw;
}

ul {
    list-style: none;
    padding: 0;
}

.btn {
    height: 4vh;
    width: 8vw;
    margin: auto 6vw auto 0;
}